<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">
<!--     <div id="cover-photo-container">
      <img id="cover-photo" src="/images/{{ page.cover }}">
    </div> -->
    <div id="info-container">
      <h1 id="title">{{ page.title }}</h1>
    </div>
  </div>

  <div class="post">
    {{ content }}
  </div>
</div>
