<div class="content" id="home">
  <div id="sidebar-button">
    <img src="{{site.baseurl}}/images/sidebar-button.png">
  </div>
  <div id="post-info">
<!--     <div id="cover-photo-container">
      <img id="cover-photo" src="/images/{{ page.cover }}">
    </div> -->
    <div id="info-container">
      <h1 id="title">{{ page.title }}</h1>
      <span id="date">{{ page.date | date_to_string }}</span>
    </div>
  </div>

  <div class="post">
    {{ content }}
  </div>
  <div class="colophon">
    <p>
      <span id="pub-date">Published on {{ page.date | date_to_string }}</span>
    </p>
  </div>
</div>
