<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>SpInDP 14 - {{ page.title }}</title>
      <meta name="viewport" content="width=device-width">

      <!-- syntax highlighting CSS -->
      <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

      <!-- Responsive CSS -->
      <link rel="stylesheet" href="{{ "/css/responsive.css" | prepend: site.baseurl }}">

      <!-- Google Fonts -->
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="site">
      <div class="sidebar" id="sidebar">
        <div class="header">
          <h1 class="title"><a href="{{site.baseurl}}/"><img id="logo" src="{{site.baseurl}}/images/logo.png"></a></h1>
          <span class="tagline">Groep 14 van SpInDP 2016-2017</span>
        </div>
        <div class="posts">
          <ul class="posts-list">
            {% for post in site.posts %}
              <li class="post-link">
                <a class="post-title" href="{{ site.baseurl }}/{{ post.url }}">
                  <span class="post-date">{{ post.date | date_to_string }}</span>
                  {{ post.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="footer">
          <span id="footer-links">
            <a href="{{site.baseurl}}/about/" class="footer-link">About</a>
          </span>
        </div>
      </div>

        {{ content }}

    </div>
    <script src="{{site.baseurl}}/scripts/responsive.js" type="text/javascript"></script>
  </body>
</html>
