<script type=text/javascript src="{{
  url_for('static', filename='jquery-3.2.1.min.js') }}"></script>

<script type=text/javascript>
$(function() {
  var intervalID = window.setInterval(update, 250);
});

function update() {
  $.getJSON('/_data',
            {},
            function(data) {
              $(coords).text(data.coords);
              $(servos).html(data.servos);
              $(gyro).text(data.gyro);
            }
  );
}
</script>
<body style="background-color: black; color: lime; font-family: monospace, monospace; font-size: 1em;">
    <h1>Spindp14</h1>
    <h2>Coordinates</h2>
    <p id=coords>coords</p>
    <h2>Servos</h2>
    <p id=servos>servos</p>
    <h2>Helling</h2>
    <p id=gyro>gyro</p>
</body>
